body{
    text-align: center;
    text-decoration: underline;
    
}

.Conatiner{
    /* border: 4px solid black; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 300px 100px;
    grid-gap: 15px;
    grid-auto-flow: dense;
}

.Gallary-item{
    height: 100%;
    width: 100%;
    position: relative;
}
.Gallary-item .image{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.Gallary-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
}
.Gallary-item:hover .image img{
    transform: scale(1.5);
}

.Gallary-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    font-size: larger;
    font-weight: 400;
    transform:translate(-50%,-50%);
    backdrop-filter: blur(100px) saturate(1.8);
    text-align: center;
    transition: .4s ease-in-out;

}

.Gallary-item:hover .text{
    opacity: 1;
    animation: Move-down .5s linear;
    width: 100%;
    height: 20%;
    align-content: center;
    font-size: larger;

}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}

.w-3{
    grid-column: span 3;
}

.w-4{
    grid-column: span 4;
}

.w-5{
    grid-column: span 5;
}

.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;   
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;  
}

@keyframes Move-down {
    0%{
        top: 10%;

    }
    50%{
        top: 35%;

    }
    100%{
        top: 50%;
    }
}
@media (max-width:700px) {
    .Conatiner{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column: span 1;
    }    
}
